body {
    background-color: #888aa5;
    margin: 0;
}

header {
    background-color: #272942;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
}

footer {
    background-color: black;
    color: lightblue;
    text-align: center;
    border: 1px solid lightblue;
    bottom: 0;
    width: 100%;
    position: fixed;
}

#a1 {
    border-radius: 30px;
    position: fixed;
    left: 1px;
    width: 200px;
    padding: 20px;
    background-color: black;
}

#a3 {
    border-radius: 30px;
    left: 1px;
    float: left;
    width: 20%;
    padding: 20px;
    background-color: black;
}

#a4 {
    border-radius: 30px;
    left: 1px;
    float: right;
    width: 20%;
    padding: 20px;
    background-color: black;
}

section {
    width: 100%;
    padding: 10px;
    background-color: black;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 193px;
}

.list2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 150px;
    width: 100%;
    justify-content: center;
}

.btn {
   display: block;
   text-decoration: none;
   font-size: 20px;
   background: black;
   padding: 5px 9px;
   width: 100%;
   color: rgb(89, 150, 170);
}
.btn:hover {
    background: darkblue;
}

.btn2 {
   display: block;
   text-decoration: none;
   font-size: 15px;
   background: black;
   padding: 10px 8px;
   width: 100%;
   color: rgb(110, 138, 148);
}
.btn2:hover {
    background: rgb(82, 82, 161);
}

#img1 {
    border-radius: 50px;
    width: 100%;
    height: 774px;
}

.img2 {
    border: 1px solid black;
    width: 45%;
}

.main2 {
    font-size: 25px;
    padding: 5px;
    text-align: center;    
}

#main3 {
    background-image: url("ImagemFormação.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    height: 700px;
}

#imagemcontato {
    background-image: url("ImagemContato.png");
    background-size: cover;
    height: 100%;

}

p {
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(37, 96, 119);
    font-size: 25px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
    text-align: justify;
    color: white;
}

.p4 {
    text-align: left;
    background-color: rgb(9, 9, 63);
    color: white;
    font-size: 25px;
    width: 65%;  
}    

.f5 {
    font-size: 20px;
    width: 40%;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(37, 96, 119);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.inputs {
    width: 100%;
    font-size: 1rem;
    max-width: 500px;
    min-width: 200px;
    padding: 10px;
}

#btnenviar {
    font-size: 20px;
    width: 42%;
    padding: 5px;
    margin: 13px;
}
#btnenviar:hover {
    background-color: rgb(37, 96, 119);
    color: white;
    cursor: pointer;
    border: 1px solid black;
}
